<a href="https://colab.research.google.com/github/mohamedprojects/Machine-Learning/blob/main/CONTENT_BASED_FILTERING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Acquire and extract the data

In [1]:
!wget -O moviedataset.zip https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
print('unziping ...')
!unzip -o -j moviedataset.zip

--2021-12-26 22:41:53--  https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/ML0101ENv3/labs/moviedataset.zip
Resolving s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)... 67.228.254.196
Connecting to s3-api.us-geo.objectstorage.softlayer.net (s3-api.us-geo.objectstorage.softlayer.net)|67.228.254.196|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 160301210 (153M) [application/zip]
Saving to: ‘moviedataset.zip’

moviedataset.zip    100%[===================>] 152.88M  31.0MB/s    in 4.8s

2021-12-26 22:41:59 (31.7 MB/s) - ‘moviedataset.zip’ saved [160301210/160301210]

unziping ...
Archive:  moviedataset.zip
  inflating: links.csv
  inflating: movies.csv
  inflating: ratings.csv
  inflating: README.txt
  inflating: tags.csv

# Preprocessing

In [4]:
import pandas as pd
import numpy as np
from math import sqrt
import matplotlib.pyplot as plt

In [5]:
movies = pd.read_csv('movies.csv') #Storing the movie information into a pandas dataframe
ratings = pd.read_csv('ratings.csv') #Storing the rating information into a pandas dataframe

In [6]:
movies.head()

   movieId  ...                                       genres
0        1  ...  Adventure|Animation|Children|Comedy|Fantasy
1        2  ...                   Adventure|Children|Fantasy
2        3  ...                               Comedy|Romance
3        4  ...                         Comedy|Drama|Romance
4        5  ...                                       Comedy

[5 rows x 3 columns]

In [14]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      169     2.5  1204927694
1       1     2471     3.0  1204927438
2       1    48516     5.0  1204927435
3       2     2571     3.5  1436165433
4       2   109487     4.0  1436165496

In [7]:
movies['year'] = movies.title.str.extract('(\(\d\d\d\d\))',expand=False)
movies['year'] = movies.year.str.extract('(\d\d\d\d)',expand=False) #Removing the parentheses
movies['title'] = movies.title.str.replace('(\(\d\d\d\d\))', '') #Removing the years from the 'title' column
movies['title'] = movies['title'].apply(lambda x: x.strip()) #Applying the strip function to get rid of any ending whitespace characters that may have appeared

movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [9]:
movies['genres'] = movies.genres.str.split('|') #split the values in the Genres column into a list of Genres
movies.head()

   movieId  ...  year
0        1  ...  1995
1        2  ...  1995
2        3  ...  1995
3        4  ...  1995
4        5  ...  1995

[5 rows x 4 columns]

In [12]:
#Copying the movie dataframe into a new one

moviesWithGenres = movies.copy()

#one hote encoding
for index, row in movies.iterrows():
    for genre in row['genres']:
        moviesWithGenres.at[index, genre] = 1
moviesWithGenres = moviesWithGenres.fillna(0)
moviesWithGenres.head()

   movieId                        title  ... Film-Noir (no genres listed)
0        1                    Toy Story  ...       0.0                0.0
1        2                      Jumanji  ...       0.0                0.0
2        3             Grumpier Old Men  ...       0.0                0.0
3        4            Waiting to Exhale  ...       0.0                0.0
4        5  Father of the Bride Part II  ...       0.0                0.0

[5 rows x 24 columns]

In [15]:
#Drop timestamp column from a dataframe
ratings = ratings.drop('timestamp', 1)
ratings.head()

   userId  movieId  rating
0       1      169     2.5
1       1     2471     3.0
2       1    48516     5.0
3       2     2571     3.5
4       2   109487     4.0

# Content-Based recommendation system

In [16]:
# Creating an input user to recommend movies
userInput = [
            {'title':'Grumpier Old Men','rating':4.5},
            {'title':'Breakfast Club, The', 'rating':4},
            {'title':'Toy Story', 'rating':2},
            {'title':'Jumanji', 'rating':1.5},
            {'title':"Pulp Fiction", 'rating':3},
            {'title':'Akira', 'rating':5}
         ] 
inputMovies = pd.DataFrame(userInput)
inputMovies

                 title  rating
0     Grumpier Old Men     4.5
1  Breakfast Club, The     4.0
2            Toy Story     2.0
3              Jumanji     1.5
4         Pulp Fiction     3.0
5                Akira     5.0

In [19]:
#Filtering out the movies by title
inputId = movies[movies['title'].isin(inputMovies['title'].tolist())]
#Then merging it so we can get the movieId.
inputMovies = pd.merge(inputId, inputMovies)
#Dropping genres and year columns from the input dataframe
inputMovies = inputMovies.drop('genres', 1).drop('year', 1)

inputMovies

   movieId                title  rating
0        1            Toy Story     2.0
1        2              Jumanji     1.5
2        3     Grumpier Old Men     4.5
3      296         Pulp Fiction     3.0
4     1274                Akira     5.0
5     1968  Breakfast Club, The     4.0

In [21]:
#Filtering out the movies from the input
userMovies = moviesWithGenres[moviesWithGenres['movieId'].isin(inputMovies['movieId'].tolist())]
userMovies

      movieId                title  ... Film-Noir (no genres listed)
0           1            Toy Story  ...       0.0                0.0
1           2              Jumanji  ...       0.0                0.0
2           3     Grumpier Old Men  ...       0.0                0.0
293       296         Pulp Fiction  ...       0.0                0.0
1246     1274                Akira  ...       0.0                0.0
1885     1968  Breakfast Club, The  ...       0.0                0.0

[6 rows x 24 columns]

In [22]:
#Resetting the index to avoid future issues
userMovies = userMovies.reset_index(drop=True)
#Dropping unnecessary columns
userGenreTable = userMovies.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
userGenreTable

   Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
0        1.0        1.0       1.0  ...      0.0        0.0                 0.0
1        1.0        0.0       1.0  ...      0.0        0.0                 0.0
2        0.0        0.0       0.0  ...      0.0        0.0                 0.0
3        0.0        0.0       0.0  ...      0.0        0.0                 0.0
4        1.0        1.0       0.0  ...      0.0        0.0                 0.0
5        0.0        0.0       0.0  ...      0.0        0.0                 0.0

[6 rows x 20 columns]

In [23]:
inputMovies['rating']
#get weights
userProfile = userGenreTable.transpose().dot(inputMovies['rating'])
userProfile

Adventure              8.5
Animation              7.0
Children               3.5
Comedy                13.5
Fantasy                3.5
Romance                4.5
Drama                  7.0
Action                 5.0
Crime                  3.0
Thriller               3.0
Horror                 0.0
Mystery                0.0
Sci-Fi                 5.0
IMAX                   0.0
Documentary            0.0
War                    0.0
Musical                0.0
Western                0.0
Film-Noir              0.0
(no genres listed)     0.0
dtype: float64

In [25]:
#Now let's get the genres of every movie in our original dataframe
genreTable = moviesWithGenres.set_index(moviesWithGenres['movieId'])
#drop the unnecessary information
genreTable = genreTable.drop('movieId', 1).drop('title', 1).drop('genres', 1).drop('year', 1)
genreTable.head()

         Adventure  Animation  Children  ...  Western  Film-Noir  (no genres listed)
movieId                                  ...
1              1.0        1.0       1.0  ...      0.0        0.0                 0.0
2              1.0        0.0       1.0  ...      0.0        0.0                 0.0
3              0.0        0.0       0.0  ...      0.0        0.0                 0.0
4              0.0        0.0       0.0  ...      0.0        0.0                 0.0
5              0.0        0.0       0.0  ...      0.0        0.0                 0.0

[5 rows x 20 columns]

In [26]:
genreTable.shape

(34208, 20)

In [29]:
#Multiply the genres by the weights and then take the weighted average
recommendationTable = ((genreTable*userProfile).sum(axis=1))/(userProfile.sum())
recommendationTable.head()

movieId
1    0.566929
2    0.244094
3    0.283465
4    0.393701
5    0.212598
dtype: float64

In [30]:
#Sort our recommendations in descending order
recommendationTable = recommendationTable.sort_values(ascending=False)
#Just a peek at the values
recommendationTable.head()

movieId
27344     0.771654
26093     0.748031
146305    0.692913
1907      0.692913
108540    0.692913
dtype: float64

#the recommendation table

In [31]:
movies.loc[movies['movieId'].isin(recommendationTable.head(20).keys())]

       movieId  ...  year
1824      1907  ...  1998
4625      4719  ...  2001
4861      4956  ...  1980
4923      5018  ...  1991
8605     26093  ...  1962
8783     26340  ...  1976
9296     27344  ...  1999
10575    40339  ...  2005
11230    47404  ...  2004
11785    52287  ...  2007
11806    52462  ...  2007
13109    62956  ...  2008
13912    69644  ...  2009
15001    75408  ...  2008
15073    76153  ...  2002
16504    83266  ...  2000
16884    85261  ...  2011
22145   106240  ...  2013
22778   108540  ...  2012
32854   146305  ...  2000

[20 rows x 4 columns]